/node_modules
/public/build
/public/hot
/public/storage
/public/foto_sistema
/public/foto_usuario/
/public/system/images/foto_usuario/*
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
